.pie {
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;

}

.pie h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--blanco);
}

h2 img {
    width: 50px;
}